.loginBody {
    background-image: url(../images/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.loginContainer {
    width: 350px;
    margin: 0 auto;
    margin-top: 10%;
    padding-top: 15px;
    padding: 25px;
    background: #f4f7f8;
    border: 1px solid #ddd;
    border-radius: 10px;

}

.loginTitle {
    margin-top: 10px;
    text-align: center;
}

.form-label,
.form-control {
    display: block;
    margin-bottom: 10px;

}

#login {
    padding: 9px;
    background: #236ea8;
    color: white;
    border: none;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

#message {
    margin-top: 10px;
    text-align: center;
    color: red;
}



/* menu style */
/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}



/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 78px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image {
    width: 50px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 50px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}


.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li a {
    list-style: none;
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}


.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.home {
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    /* height: 100vh; */
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.sidebar.close~.home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

.nav-link {
    padding: 0%;
}

.action {
    display: flex;
    justify-content: flex-end;
    margin-top: 6px;
}

.search-title {
    font-size: 30px;
}

.input-search {
    max-width: 40%;
}

.label-search-head {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
    color: #0078D4;
    padding: 15px;
    width: 15%;
}

.label-search {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
    color: #0078D4;
    padding: 10px;
    width: 50%;
}

.form-control.search-text {
    border: 1px solid #0078D4;
    box-sizing: border-box;
    border-radius: 5px;
    width: 30%;
    margin: 5px;
}

.btn.btn-primary {
    padding: 4px 8px 3px;
    margin: 15px;
    height: 40px;
}

.btn.btn-primary.ct {
    padding: 2px 8px 3px;
    margin: 3px;
    height: 30px;
}

.information-title {
    font-size: 30px;

}

.table {
    max-width: 100%;
    margin-bottom: 10px;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
}

thead {
    background-color: #0078D4;

}

.table>thead {
    vertical-align: middle;
}

th {
    vertical-align: middle;
    text-align: center;
}

td {
    vertical-align: middle;
    text-align: center;
}

.modal-content.action {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 2px solid #888;
    max-width: 75%;
}

.detail-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.form-control.text-modal {
    padding: 5px;
    margin: 5px;
}

.form-control {
    height: 20%;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.table-up-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

#showData {
    max-width: 100%;
}

.student-stt {
    max-width: 7%;
}

.student-id {
    max-width: 7%;
}

.student-code {
    max-width: 18%;
}

.student-name {
    max-width: 18%;
}

.student-birth {
    max-width: 15%;
}

.student-image {
    max-width: 15%;
}

.student-action {
    max-width: 30%;
}

.display-none {
    display: none;
}

.teacher-stt {
    max-width: 6%;
}

.teacher-id {
    max-width: 6%;
}

.teacher-code {
    max-width: 15%;
}

.teacher-name {
    max-width: 15%;
}

.teacher-exp {
    max-width: 8%;
}

.teacher-image {
    max-width: 15%;
}

.teacher-subjectID {
    max-width: 10%;
}

.teacher-action {
    max-width: 25%;
}

.subject-stt {
    max-width: 10%;
}

.subject-id {
    max-width: 10%;
}

.subject-code {
    max-width: 20%;
}

.subject-name {
    max-width: 30%;
}

.subject-action {
    max-width: 30%;
}

.test-stt {
    max-width: 10%;
}

.test-id {
    max-width: 10%;
}

.test-code {
    max-width: 20%;
}

.test-name {
    max-width: 20%;
}

.test-teacherId {
    max-width: 20%;
}

.test-action {
    max-width: 20%;
}

.studentTest-stt {
    max-width: 15%;
}

.studentId {
    max-width: 20%;
}

.testId {
    max-width: 20%;
}

.score {
    max-width: 15%;
}

.studentTest-action {
    max-width: 30%;
}

.user-stt {
    max-width: 10%;
}

.user-id {
    max-width: 10%;
}

.user-name {
    max-width: 15%;
}

.user-role {
    max-width: 15%;
}

.user-password {
    max-width: 30%;
}

.user-action {
    max-width: 20%;
}

.edit-img {
    width: 100px;
    height: 50px;
    border-radius: 50%;
    margin-left: 36px;
    margin-right: 5px;
}

/* 
/* @media (max-width: 420px) {
    .search-title {
        font-size: 20px;
    }

    .form-control {
        width: 55%;
    }

    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto
    }

    .container {
        max-width: 540px
    }

    .label-search-head {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 14px;
        color: #0078D4;
        padding: 10px;
        width: 35%;
    }

    .form-control.search-text {
        border: 1px solid #0078D4;
        box-sizing: border-box;
        border-radius: 5px;
        width: 50%;
        height: 25px;
        margin: 5px;
    }
}



@media (max-width: 600px) {
    .search-title {
        font-size: 20px;
    }

    .form-control {
        width: 55%;
    }

    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto
    }

    .container {
        max-width: 540px
    }

    .label-search-head {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 14px;
        color: #0078D4;
        padding: 10px;
        width: 30%;
    }

    .form-control.search-text {
        border: 1px solid #0078D4;
        box-sizing: border-box;
        border-radius: 5px;
        width: 50%;
        height: 25px;
        margin: 5px;
    }
}

/*  Medium devices  */
/* @media (max-width: 768px) {
    .container {
        max-width: 720px
    }
}

/*  Large devices  */
/* @media (max-width: 992px) {
    .container {
        max-width: 960px
    }

    .modal-lg {
        max-width: 800px
    }
} */

/*  X-Large devices  */
/* @media (max-width: 1200px) {
    .container {
        max-width: 1140px
    }
} */

/* XX-Large devices  */
/* @media (max-width: 1400px) {
    .container {
        max-width: 1320px
    }
}  */





/* CSS chung cho cả máy tính và điện thoại */

/* Thiết kế cho điện thoại di động nhỏ */
@media (max-width: 359px) {

    /* Áp dụng CSS cho màn hình nhỏ hơn 360px (điện thoại di động nhỏ) */
    body {
        font-size: 10px;
        /* Điều chỉnh font-size cho điện thoại di động nhỏ */
    }
}

/* Thiết kế cho điện thoại di động */
@media (min-width: 360px) and (max-width: 767px) {

    /* Áp dụng CSS cho màn hình từ 360px đến 767px (điện thoại di động) */
    body {
        font-size: 12px;
        /* Điều chỉnh font-size cho điện thoại di động */
    }
}

/* Thiết kế cho máy tính bảng nhỏ */
@media (min-width: 768px) and (max-width: 991px) {

    /* Áp dụng CSS cho màn hình từ 768px đến 991px (máy tính bảng nhỏ) */
    body {
        font-size: 14px;
        /* Điều chỉnh font-size cho máy tính bảng nhỏ */
    }
}

/* Thiết kế cho máy tính bảng và máy tính bảng lớn */
@media (min-width: 992px) and (max-width: 1199px) {

    /* Áp dụng CSS cho màn hình từ 992px đến 1199px (máy tính bảng và máy tính bảng lớn) */
    body {
        font-size: 16px;
        /* Điều chỉnh font-size cho máy tính bảng và máy tính bảng lớn */
    }
}

/* Thiết kế cho màn hình máy tính trung bình */
@media (min-width: 1200px) and (max-width: 1399px) {

    /* Áp dụng CSS cho màn hình từ 1200px đến 1399px (máy tính trung bình) */
    body {
        font-size: 18px;
        /* Điều chỉnh font-size cho máy tính trung bình */
    }
}

/* Thiết kế cho màn hình máy tính lớn */
@media (min-width: 1400px) {

    /* Áp dụng CSS cho màn hình từ 1400px trở lên (máy tính lớn) */
    body {
        font-size: 20px;
        /* Điều chỉnh font-size cho máy tính lớn */
    }
}