<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <img src="assets/images/financex-logo.png" alt="AdminLTE Logo" class="brand-image">
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="assets/images/user1.png" class="elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">User</a>
                <a href="#" class="d-block">Setting</a>
                <a id="logout" class="d-block">Sign Out</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
                <div id="menuAdmin" style="display: none;">
                    <li class="nav-item menu-open">
                        <ul class="nav nav-treeview">
                            <a href="#" class="nav-link active">
                                <p>
                                    Manage Pump Detection
                                </p>
                            </a>
                            <li class="nav-item">
                                <a href="/telegramBot" class="nav-link telegramBot">
                                    <p>
                                        Telegram Bot
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/telegramBotGroup" class="nav-link telegramBotGroup">
                                    <p>
                                        Telegram Bot Group
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/telegramBotManual" class="nav-link telegramBotManual">
                                    <p>
                                        Telegram Bot Manual
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/pumpDetectionSetting" class="nav-link pumpDetectionSetting">
                                    <p>
                                        Pump Detection Setting
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/pumpDetectionRequest" class="nav-link pumpDetectionRequest">
                                    <p>
                                        Pump Detection Request
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/pumpPerformanceReport" class="nav-link pumpPerformanceReport">
                                    <p>
                                        Pump Performance Report
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/pumpDetectionCustomerRequests "
                                    class="nav-link pumpDetectionCustomerRequests">
                                    <p>
                                        Pump Detection Customer Request
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/pumpPerformanceCustomerReport "
                                    class="nav-link pumpPerformanceCustomerReport">
                                    <p>
                                        Pump Performance Customer Report
                                    </p>
                                </a>
                            </li>
                        </ul>
                        <!-- <ul class="nav nav-treeview">
                            <a href="#" class="nav-link active">
                                <p>
                                    Manage User Setting
                                </p>
                            </a>
                            <li class="nav-item">
                                <a href="/manageUsers" class="nav-link manageUsers">
                                    <p>
                                        Manage Users
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/memberships" class="nav-link memberships">
                                    <p>
                                        Memberships
                                    </p>
                                </a>
                            </li>
                        </ul> -->
                    </li>
                </div>
                <div id="menuUser" style="display: none;">
                    <li class="nav-item menu-open">
                        <ul class="nav nav-treeview">
                            <a href="#" class="nav-link active">
                                <p>
                                    Manage Account
                                </p>
                            </a>
                            <!-- <li class="nav-item">
                                <a href="/userHomepage" class="nav-link userHomepage">
                                    <p>
                                        Homepage
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/userWallet" class="nav-link userWallet">
                                    <p>
                                        Wallet
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/userOrder" class="nav-link userOrder">
                                    <p>
                                        Order
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/userDashboard" class="nav-link userDashboard">
                                    <p>
                                        Dashboard
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/apiConfiguration " class="nav-link apiConfiguration">
                                    <p>
                                        API Configuration
                                    </p>
                                </a>
                            </li> -->
                            <li class="nav-item">
                                <a href="/pumpDetectionCustomerRequests "
                                    class="nav-link pumpDetectionCustomerRequests">
                                    <p>
                                        Pump Detection Request
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/pumpPerformanceCustomerReport "
                                    class="nav-link pumpPerformanceCustomerReport">
                                    <p>
                                        Pump Performance Report
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </div>

        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>